.angry-grid {
  display: grid;

  grid-template-rows: repeat(30, 1fr);
  grid-template-columns: repeat(12, 1fr);

  gap: 0px;
  height: 100%;

}

#navbar {

  background-color: #95E97B;
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 12;

}

#sidebar {

  background-color: #595E5C;
  grid-row-start: 1;
  grid-column-start: 12;

  grid-row-end: 31;
  grid-column-end: 13;

}

#working-hours {

  background-color: #BBF78D;
  grid-row-start: 10;
  grid-column-start: 1;

  grid-row-end: 31;
  grid-column-end: 12;

}

#options {

  background-color: #8BD897;
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 12;

}

#choose-service {

  background-color: #B9CDB8;
  grid-row-start: 3;
  grid-column-start: 1;

  grid-row-end: 10;
  grid-column-end: 6;

}

#resource-details {

  background-color: #799DBE;
  grid-row-start: 3;
  grid-column-start: 6;

  grid-row-end: 10;
  grid-column-end: 12;

}
